/node_modules

TCC/dependencias/node_modules/*.js
dependencias/node_modules/*.js
node_modules/*.js

TCC/dependencias/node_modules/*
dependencias/node_modules/*
node_modules/*

TCC/dependencias/node_modules/
dependencias/node_modules/

../node_modules
/node_modules
../node_modules/*

